@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --text-primary: rgb(60, 232, 186);
    --bg-primary: #011818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--bg-primary);
    color: #ddd;
    text-align: center;
}

body:active #navbarNavDropdown{
    display: none;
}
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;

}


.navbar-brand {
    display: flex;
    align-items: center;

    img {
        width: 50px;
        animation: gira 20s linear infinite;
    }

    p {
        margin: 0;
    }
}


@keyframes gira {
    from {
        transform: rotate(360deg)
    }

    to {
        transform: rotate(0deg)
    }
}

/* .navbar {
    height: 50px;
} */

/* .navbar-collapse {
    display: flex;
    justify-content: end;

} */

.navbar-nav {
    .nav-item {
        margin: 0 1em;

        .nav-link {
            color: #ddd;
        }

        .nav-link:hover {
            color: var(--text-primary);
        }

        .navbar-toggler{
            border: none;
        }
    }
}



.hero {

    /*    padding-top: 20%; */
    p,
    h1,
    h2 {
        margin: 20px 0;
    }
}

section {
    padding-top: 100px;
    height: auto;
    /*     border: 1px solid lime; */
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 10%;
   /*  scroll-snap-align: start; */
}


@keyframes appear {
    from {
        opacity: 0;
        scale: 0.8;
    }

    to {
        opacity: 1;
        scale: 1;

    }
}


/* section div{
    border: 1px dashed yellow;
} */

section svg {
    width: 20px;
    min-width: 50px;
    filter: invert();
    display: block;
    margin: auto;
}


h3,
h4 {
    text-align: center;
    margin: 5px 0;
}

h3 {
    color: var(--text-primary);
}

.carousel-item h5,
.carousel-item p {
    background-color: var(--bg-primary);
}

.carousel-item a {
    text-decoration: none;
    color: #ddd;
}

.carousel-item a:hover {
    color: var(--text-primary);
}


.button__container {
    top: 85vh;

    a {
        margin: 0;
        line-height: 50px;
        border: transparent 48px solid;
        border-bottom: rgba(97, 186, 97, 0.584) 48px solid;
        transition: .2s;
        width: 10px;
        height: 20px;
    }

}

.button__container a:hover {
    border-bottom: var(--text-primary) 48px solid;
}

.button__container a:active {
    border-bottom: #ddd 48px solid;
}



/* ESTILOS DEL ACORDIÓN */

.accordion * {
    background-color: black;
    color: white;
    justify-content: center;
    border: none;
}

.accordion-body a{
    display: block;
    padding: 10px 0;
}


.accordion-button::after{
   display: none;
} 

.accordion-button:not(.collapsed){
    background-color: transparent;
    color:var(--text-primary)
}


/* FIN DE ESTILOS ACORDIÓN */


@media screen and (min-width:1200px) {
    section {
        height: 100vh;
    }
}